body {
  background-color: #777;
}
#header {
  background: #942448;
  padding: 2em;
  margin-bottom: 1em;
  color: #fff;
  a {
    color: #fff;
  }
  h1 {
    font-weight: bold;
  }
}


#footer {
  background: #222;
  color: #fff;
  padding: 2em;
}